@import './../styling-variables.scss';

.Home {
  display: flex;
  justify-content: center;
  background-color: $grey100;

  .content {
    width: $standard-width;
    max-width: 100%;
    margin-top: 80px;

    .top {
      margin-bottom: 40px;
    }
  }
}
