@import './../styling-variables.scss';

.Home {
  display: flex;
  justify-content: center;
  background-color: $grey100;

  .content {
    width: $standard-width;
    max-width: 90%;
    margin-top: 80px;

    .top {
      margin-left: 24px;
      margin-bottom: 40px;
    }
  }
}


@media only screen and (max-width: 600px) {
  .Home {
    .content {
      width: 100%;
      max-width: 100%;
      margin-top: 48px;

      .top {
        margin-left: 16px;
        margin-bottom: 20px;
      }
    }
  }
}
