@import 'styling-variables.scss';

.App {
}

.fetching-message,
.error-message {
  width: 100vw;
  line-height: 100vh;
  background-color: $grey100;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: $blue600;
}
