// Colors
$blue800: #1e2933;
$blue700: #263D52;
$blue600: #25496E;
$blue500: #34689D;
$blue400: #4583C2;
$blue300: #70A2D3;
$blue200: #B2D3F2;
$blue100: #B2D3F2;

$grey700: #222933;
$grey600: #616B79;
$grey500: #8A95A5;
$grey400: #BAC4CD;
$grey300: #D0D6DD;
$grey200: #E2E7EB;
$grey100: #F8F9FA;


// Sizes
$standard-width: 680px;
